//reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@-ms-viewport {
  width: device-width;
}

body {
    height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

.hide {
  display: none !important;
}

.d-flex {
  display: flex;
}
